*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e2327ec;
    text-align: center;
    padding: 0;
    margin: 0;
}

.section {
    color: rgba(255, 255, 255, 0.959);
    line-height: 30px;
    padding: 2rem 4rem;

}


.parallax {
    background-image: url("../img/highview.jpg");
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    z-index: -1;
    border: none;

}

#two {
    background-image: url("../img/roadview.jpg");
    z-index: -2;
    height: 450px;
}

#three {
    background-image: url("../img/forestorange.jpg");
    z-index: -2;
    height: 450px;
}

.parallax h1 {
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 8px;
    background-color: rgb(20, 20, 20);
    z-index: 10
}

.parallax h2 {
    color: rgba(245, 245, 245, 0.897);
    letter-spacing: 8px;
    z-index: 20;
}